.backdrop {
  position: fixed;
  z-index: 9998;
  inset: 0;
  display: grid;
  place-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.58);
  backdrop-filter: blur(2px);
}

.modal {
  background: var(--modal);
  padding: 20px;
  border-radius: 5px;
  color: var(--text);
}

.header {
  display: flex;
  justify-content: space-between;
}

.closeIcon {
  cursor: pointer;
}

.title {
  font-weight: 800;
  font-size: 1.3rem;
}
